<div class="event-box" (click)="viewEvent(event)">
  <div class="event-data-container" *ngIf="timeZone">
    <div class="event-timings"> {{ moment.utc(event.EventStartDate).tz(timeZone).format('hh:mm A') }} - {{ moment.utc(event.EventEndDate).tz(timeZone).format('hh:mm A') }} </div>
    <div class="event-name"> {{ event.Name }} </div>
    <div class="event-venue"> {{ event.EventVenue || 'Online' }} </div>
  </div>

  <div class="ticket-container" (click)="viewTicket($event,event)">
    <span class="status" [ngClass]="getParticipationStatusDotClass(participationStatus)"> <span class="dot"></span> {{ participationStatus }} </span>
    <br/>
    <button ion-button outline class="ticket-button" *ngIf="!hideTicket && (participationStatus == 'Registered' || participationStatus == 'Attended')">
        Ticket
      </button>
  </div>
</div>
