<ion-footer color="primary">
  <ion-row>
    <ion-col *ngFor="let tab of tabs; let i = index" class="footer-tab-container">
      <button ion-button icon-only clear (click)="viewtab(tab.value)" [color]="isActive(tab.value) ? 'primary' : 'dark'">
        <ion-icon [name]="tab.icon"></ion-icon>
         {{tab.title}}
      </button>
    </ion-col>
  </ion-row>
</ion-footer>
