<ion-split-panel>

  <ion-menu [content]="content" id="menu-material" persistent="true" *ngIf="showMenu">
    <ion-content>
      <div class="menu-header">
        <!--material-design-background-->
        <div class="header-container">
          <div class="user-avatar-container">
            <img class="user-avatar round" [src]="user?.picture ? user.picture : 'assets/img/user.png'" />
            <div class="profile-icon-container" (click)="changePicture()">
              <ion-icon name="camera" color="light" class="camera-icon"> </ion-icon>
            </div>
          </div>
          <attach-files class="no-display" [params]="{folder:'profilePics', fileName: user?.uid, returnUrl:true, domId: 'attachProfilePicture'}" (saveUrl)=saveUrl($event)></attach-files>
          <p class="name">{{ username }}</p>
          <p class="e-mail">{{ universityName }}</p>
        </div>
      </div>
      <ion-list no-lines>
        <button menuClose="left" ion-item detail-none *ngFor="let page of menuPages" [clickAction]="page" clickType="menu">
          <ion-icon [name]="page.icon" item-left></ion-icon>
          {{page.title}}
        </button>
      </ion-list>
      <ion-list no-lines>
        <ion-list-header class="admin-header">
          Account
        </ion-list-header>
        <button menuClose="left" ion-item detail-none *ngFor="let page of accountPages" (click)="openPage(page)">
          <ion-icon [name]="page.icon" item-left></ion-icon>
          {{page.title}}
        </button>
      </ion-list>
    </ion-content>
    <ion-footer padding class="sidemenu-footer">
      <span>V1.0</span>Built by <strong [clickAction]="'http://inqude.com'">Inqude</strong>
    </ion-footer>
  </ion-menu>

  <!-- main navigation -->
  <ion-nav #content swipeBackEnabled="false" main></ion-nav>

</ion-split-panel>
