page-manage-posts {
  p {
    margin-top: 0 !important;
    padding: 5px !important;
  }

  .has-fab-bottom {
    height: 45px;
  }

  ion-content {
    background-color: #efefef !important;
  }

  ion-card-header {
    padding: 8x !important;
  }
  // ion-icon.icon.icon-md.ion-md-time {
  //     margin-top: 6px;
  // }
}
