<ion-header>

  <ion-navbar no-border-bottom color="primary" hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Posts
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <post-card [postData]="post" [params]="{hideLike:true, hideButton:true}" *ngFor="let post of posts;trackBy:post?.id"></post-card>
    <no-results [hidden]="posts.length" icon="paper" text="No posts found, <br/>Create one now"></no-results>
    <div class="has-fab-bottom"></div>
  </ion-list>
  <ion-fab bottom right #fab (click)="addPost()"  [showFor]="'admin,moderator'">
    <button ion-fab><ion-icon name="add" ></ion-icon></button>
  </ion-fab>
</ion-content>
