page-speaker-list {
  .visibility {
    display: inline-block;
    background-color: color($colors, secondary);
    color: #ffffff;
    text-align: center;
    border-radius: 9px;
    height: 18px;
    width: 18px;
    padding: 0px;
    position: absolute;
    margin-left: 25px;
    margin-top: 23px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  p {
    display: inline-block;
  }
}
