.item-event-details {
  .calendar{
    width: 60px;
    text-align: center;
    display: inline-block;
    float: left;
    border: 2px solid #478aff;
    border-radius: 5px;
    padding: 8px 8px 2px 8px;
    margin: 5px 10px 3px auto;
    background-color: #fff;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  }

  .calendar::before {
      content: ' ';
      position: absolute;
      width: 60px;
      height: 15px;
      background-color: #478aff;
      left: 16px;
      top: 12px;
      border-radius: 5px 5px 0px 0px;
  }

  h2{
    font-weight: bold;
  }

  .time{
    color: map-get($colors, primary);
    font-size: 14px;
  }

  .location{
    font-style: italic;
    font-size: 12px;
  }
}
