<ion-item (click)="viewEvent(eventData)" [ngClass]="getClass(eventData) + ' calendar-event'">
  <div class="calendar" *ngIf="eventData">
    <div class="month">{{ moment(eventData.EventStartDate).tz(timeZone).format('MMM/YY') }}</div>
    <h1 class="date">{{ moment(eventData.EventStartDate).tz(timeZone).format('DD') }}</h1>
    <p class="day">{{ moment(eventData.EventStartDate).tz(timeZone).format('ddd') }}</p>
  </div>
  <div class="event-content"  *ngIf="eventData">
    <h2 class="event-name">{{ eventData.Name }}</h2>
    <p class="event-location">In <span>{{ eventData.EventVenue || 'Online'}}</span> </p>
    <p class="event-timings">{{ moment(eventData.EventStartDate).tz(timeZone).format('hh:mm A') }}</p>
  </div>
</ion-item>
