post-card {
  ion-icon.moment-ago-icon,
  moment-ago span {
    color: #808080 !important;
  }

  moment-ago span {
    font-size: 13px;
  }

  .minified {
    height: 100% !important;
    // display:flex;
    // align-items: center;
    // justify-content: center;
  }

  .bg-white {
    background-color: #fff;
    margin: -2px 0 12px;
    height: 40px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    text-align: right;
    font-size: 2rem;
    border-radius: 0 0 2px 2px;
  }

  .item-event-details .item-inner {
    padding-right: 0 !important;
  }

  .poll-container {
    padding: 10px;
  }

  .minified p,
  .minified p.question {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .minified {
    .event-location {
      white-space: normal;
    }

    .calendar-container {
      height: 100% !important;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .event-content {
        width: calc(100% - 70px);
        justify-content: flex-start;
        align-items: flex-start;
        width: 70% !important;
      }

      .empty-caption {
        padding: 0 !important;
      }

      .min-header{
        width: 100%;
        padding: 0 10px !important;
      }

      .item-container{
        width: 100% !important;
      }
    }
  }

  .right-container p {
    word-wrap: break-word;
    word-break: break-all !important;
  }
}
