<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>
      Moderators
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="addModerators()" [disabled]="!userIds.length" color="primary">
        Add
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="light">
    <ion-searchbar [(ngModel)]="query" autocomplete="on" showCancelButton="true" placeholder="Search" color="primary" #searchBar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <form #personaForm="ngForm" novalidate>
    <ion-list>
      <ion-item-sliding>
        <ion-item *ngFor="let user of users | search : query : filterKeys" (click)="chooseUsers(user)" [ngClass]="getClass(user)">
          <ion-icon [name]="user.isSelected ? 'checkbox' : 'square-outline'" [color]="user.isSelected ? 'primary' : ''" item-left></ion-icon>
          <user-card [params]="{uid: user.uid}"></user-card>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </form>
  <no-results *ngIf="!users.length" icon="person" text="No moderators found"></no-results>
</ion-content>
