<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button (click)="dismiss()">Cancel</button>
    </ion-buttons>

    <ion-title>
      Add Personas
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="addPersonas()" [disabled]="!personaForm.valid" type="submit">Add</button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <form #personaForm="ngForm" novalidate>
    <ion-list>
      <ion-item class="item-divider">
        <ion-label>Choose personas</ion-label>
        <ion-select [(ngModel)]="personaType" name="personaType" required>
          <ion-option *ngFor="let type of types" value="{{type.$value}}">{{type.$value}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item-sliding>
        <ion-item *ngFor="let persona of personas" (click)="selectedPersonas(persona)">
          <ion-icon [name]="persona.isSelected ? 'checkbox' : 'square-outline'" [color]="persona.isSelected ? 'primary' : ''" item-left></ion-icon>
          <ion-avatar item-left>
            <img [src]="persona.image ? persona.image : 'assets/img/user.png'" />
          </ion-avatar>
          <h2>{{persona.Name}}</h2>
          <p>{{persona.designation}}</p>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </form>

  <p *ngIf="personas.length == 0">
    No personas
  </p>
</ion-content>
