ion-avatar img#profile-image {
  display: block;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 100px !important;
  height: 100px !important;
  margin: 15px auto 0;
  box-shadow: 0 0 4px rgba(0,0,0,0.7);
}

.name {
  font-weight: bold;
  font-size: larger;
  margin: 10px 0 5px;
  text-align: center;
  color: #387ef5;
}

ion-avatar img.big {
  display: block;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 100px !important;
  height: 100px !important;
  margin: 15px auto 0;
  box-shadow: 0 0 4px rgba(0,0,0,0.7);
}

.id-card-name {
  color: #2073fb;
}

.edit-picture {
  margin-top: -40px;
  box-shadow: 0 0 4px rgba(0,0,0,0.7);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

p.email {
  color: #424242;
  text-align: center;
}

#profile-bg {
  position: fixed;
  left: 0;
  top: 44px;
  width: 100%;
  height: 150px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/bg.jpg") no-repeat transparent;
  background-size: 100%;
  background-position: 50% 20%;
  text-align: center;
}

#content {
  position: relative;
  margin-top: 150px;
  background-color: white;
  padding-top: 200px;
}

#profile-info {
  position: absolute;
  top: -95px;
  width: 100%;
  z-index: 2;
  text-align: center;
}

#profile-name {
  color: #444;
  font-size: 26px;
}

#profile-description {
  font-size: 15px;
  color: #888;
}

#profile-description a {
  color: #888;
}

#profile-image {
  display: block;
  border-radius: 100px;
  border: 1px solid #fff;
  width: 128px;
  height: 128px;
  margin: 30px auto 0;
  box-shadow: 0 0 4px rgba(0,0,0,0.7);
}

.edit-picture {
  margin-top: -40px;
  box-shadow: 0 0 4px rgba(0,0,0,0.7);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

edit-moderator {
  .barcode-container {
    display: block;
    margin: auto;
  }

  .content-gray-bg {
    background-color: #efefef;
  }

  .no-padding {
    padding: 0;
  }

  .scroll-content {
    text-align: center;
  }

  .qr-code-container {
    text-align: center;
  }

  qr-code {
    display: inline-block;
  }

  .qr-code-container img {
    width: auto !important;
  }

  ion-card.badge {
    margin-top: 30px;
    width: 300px !important;
    display: inline-block;
    overflow: visible;
  }

  ion-card.badge div.tail {
    position: absolute;
    left: 50%;
    background: none;
    z-index: -1;
    margin-left: -40%;
    top: -70px;
  }

  ion-card.badge div.tail:after,
  ion-card.badge div.tail:before {
    content: "";
    position: absolute;
    background-color: #ff1b78;
    background-image: linear-gradient(0deg,transparent 20%,rgba(113, 113, 113, 0.28) 20%,rgba(178, 216, 255, 0.85) 40%,transparent 40%,rgba(113, 113, 113, 0.28) 60%,rgba(178, 216, 255, 0.85) 80%,transparent 80%),linear-gradient(rgba(26, 134, 214, 0.6),rgba(0, 89, 154, 0.6));
    background-image: -webkit-linear-gradient(90deg,transparent 20%,rgba(113, 113, 113, 0.28) 20%,rgba(178, 216, 255, 0.85) 40%,transparent 40%,rgba(113, 113, 113, 0.28) 60%,rgba(178, 216, 255, 0.85) 80%,transparent 80%),-webkit-linear-gradient(rgba(26, 134, 214, 0.6),rgba(0, 89, 154, 0.6));
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(20%,transparent),color-stop(20%,rgba(113, 113, 113, 0.28)),color-stop(40%,rgba(178, 216, 255, 0.85)), color-stop(40%,transparent),color-stop(60%,rgba(113, 113, 113, 0.28)),color-stop(80%,rgba(178, 216, 255, 0.85)),color-stop(80%,transparent)),-webkit-gradient(linear,left top,left bottom,from(rgba(26, 134, 214, 0.6)),to(rgba(0, 89, 154, 0.6)));
    background-image: -moz-linear-gradient(90deg,transparent 20%,rgba(113, 113, 113, 0.28) 20%,rgba(178, 216, 255, 0.85) 40%,transparent 40%,rgba(113, 113, 113, 0.28) 60%,rgba(178, 216, 255, 0.85) 80%,transparent 80%),-moz-linear-gradient(rgba(26, 134, 214, 0.6),rgba(0, 89, 154, 0.6));
    background-image: -o-linear-gradient(90deg,transparent 20%,rgba(113, 113, 113, 0.28) 20%,rgba(178, 216, 255, 0.85) 40%,transparent 40%,rgba(113, 113, 113, 0.28) 60%,rgba(178, 216, 255, 0.85) 80%,transparent 80%),-o-linear-gradient(rgba(26, 134, 214, 0.6),rgba(0, 89, 154, 0.6));
    background-image: -ms-linear-gradient(90deg,transparent 20%,rgba(113, 113, 113, 0.28) 20%,rgba(178, 216, 255, 0.85) 40%,transparent 40%,rgba(113, 113, 113, 0.28) 60%,rgba(178, 216, 255, 0.85) 80%,transparent 80%),-ms-linear-gradient(rgba(26, 134, 214, 0.6),rgba(0, 89, 154, 0.6));
    background-size: 4px 4px;
    box-shadow: 8px 0 10px 2px rgba(0, 0, 0, 0.28);
    /*backface-visibility*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    left: 0;
    border-left: 25px solid rgb(41, 41, 41);
    border-right-width: 150px;
  }

  ion-card.badge div.tail:before {
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    transform: rotate(75deg);
  }

  .label {
    white-space: normal;
  }

  ion-card.badge div.tail:after {
    -webkit-transform: rotate(105deg);
    -moz-transform: rotate(105deg);
    -ms-transform: rotate(105deg);
    -o-transform: rotate(105deg);
    transform: rotate(105deg);
    top: 0;
    left: 70px;
  }

  .animated {
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  .bounce {
    animation-name: bounce;
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  @keyframes bounce {
    0% {
      -webkit-transform: rotate(15deg) translateY(-250px) translateX(-50px);
      -ms-transform: rotate(15deg) translateY(-250px) translateX(-50px);
      transform: rotate(15deg) translateY(-250px) translateX(-50px);
    }

    25% {
      -webkit-transform: rotate(-10deg) translateY(0px) translateX(10px);
      -ms-transform: rotate(-10deg) translateY(0px) translateX(10px);
      transform: rotate(-10deg) translateY(0px) translateX(10px);
    }

    50% {
      -webkit-transform: rotate(5deg) translateY(-10px) translateX(0);
      -ms-transform: rotate(5deg) translateY(-10px) translateX(0);
      transform: rotate(5deg) translateY(-10px) translateX(0);
    }

    75% {
      -webkit-transform: rotate(0deg) translateY(0);
      -ms-transform: rotate(0deg) translateY(0);
      transform: rotate(0deg) translateY(0);
    }

    100% {
      -webkit-transform: rotate(0deg) translateY(0);
      -ms-transform: rotate(0deg) translateY(0);
      transform: rotate(0deg) translateY(0);
    }
  }

  .id-card-holder {
    width: 225px;
    padding: 4px;
    margin: 0 auto;
    background-color: #1f1f1f;
    border-radius: 5px;
    position: relative;
  }

  .id-card-holder:after {
    content: '';
    width: 7px;
    display: block;
    background-color: #0a0a0a;
    height: 100px;
    position: absolute;
    top: 105px;
    border-radius: 0 5px 5px 0;
  }

  .id-card-holder:before {
    content: '';
    width: 7px;
    display: block;
    background-color: #0a0a0a;
    height: 100px;
    position: absolute;
    top: 105px;
    left: 222px;
    border-radius: 5px 0 0 5px;
  }

  .id-card {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 1.5px 0 #b9b9b9;
  }

  .id-card img {
    margin: 0 auto;
  }

  .header img {
    width: 75px;
  }

  .photo img {
    width: 80px;
  }

  h2 {
    font-size: 15px;
    margin: 5px 0;
  }

  h3 {
    font-size: 12px;
    margin: 2.5px 0;
    font-weight: 300;
  }

  .qr-code img {
    width: 100%;
  }

  p {
    font-size: 5px;
    margin: 2px;
  }

  .id-card-hook {
    background-color: #000;
    width: 70px;
    margin: 0 auto;
    height: 15px;
    border-radius: 5px 5px 0 0;
  }

  .id-card-hook:after {
    content: '';
    background-color: #d7d6d3;
    width: 47px;
    height: 6px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 6px;
    border-radius: 4px;
  }

  .id-card-tag-strip {
    width: 45px;
    height: 40px;
    background-color: color($colors, primary);
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    top: 9px;
    z-index: 1;
    border: 1px solid color($colors, primary);
  }

  .id-card-tag-strip:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #c1c1c1;
    position: relative;
    top: 10px;
  }

  .id-card-tag {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid color($colors, primary);
    margin: -10px auto -30px;
  }

  .id-card-tag:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #d7d6d3;
    margin: -10px auto -30px;
    position: relative;
    top: -130px;
    left: -50px;
  }
}
