.calendar-background {
  border: 1px solid #e8e5e5;
  border-left-width: 0;
  border-right-width: 0;
  background-color: rgba(227, 227, 227, 0.21);
  padding: 0;

  div.item-inner > div.input-wrapper > ion-label {
    margin: 0 !important;
  }

  p {
    margin-bottom: -5px;
    margin-top: -5px !important;
  }

  h1 {
    margin-top: 5px !important;
  }
}

calendar-post-component {
  /deep/ .calendar .month {
    top: 2px !important;
  }

  /deep/ .calendar:before {
    top: 5px !important;
  }
}
