.file-icon {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-top: 5px;
  color: black;
  height: 50px;
  margin: auto;
  width: 32px;
  margin-top: 5px !important;
  text-align: center;
}

.file-icon::before {
  position: absolute;
  width: 32px;
  height: 40px;
  left: 0;
  top: -7px;
  content: '';
  border: solid 2px #920035;
}

.file-icon::after {
  content: 'file';
  content: attr(filetype);
  left: -4px;
  padding: 1px 2px;
  text-align: right;
  line-height: 1.3;
  position: absolute;
  background-color: #920035;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  top: 15px;
}

.file-icon .fileCorner {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 0 0 11px;
  border-color: white transparent transparent #920035;
  position: absolute;
  top: -7px;
  left: 25px;
}

files {
  .file-icon {
    margin-top: 10px !important;
  }
}
