<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Details
    </ion-title>

    <ion-buttons end [showFor]="'admin,moderator'">
      <button ion-button icon-only (click)="showOptions()">
        <ion-icon  name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="highlight">
    <ion-col>
      <ion-label stacked color="primary">Sent date</ion-label>
      <span><moment-ago [timeStamp]="notification.createdDate"></moment-ago></span>
    </ion-col>
    <ion-col [showFor]="'admin,moderator'">
      <ion-label stacked color="primary">Audience</ion-label>
      <span>{{notification.target}}</span>
    </ion-col>
  </ion-row>
  <div padding>
    <h4>{{notification.title}}</h4>
    <p>{{notification.body}}</p>
  </div>
</ion-content>
